body{
    font-family: 'Playfair Display', serif;
}
h2{
    font-size:36px;
    font-weight:600;
}
header{
    background-color:#263453;
    box-shadow: 0 5px 2px -2px #6E7494;
    z-index:10;
}
.top-nav{
    padding:15px;
}
.top-nav ul{
    list-style:none;
    text-align:center;
    transition: height 0.3s;
    overflow: hidden;
}
.top-nav li{
    display:inline-block;
    font-size:24px;
    margin-left:20px;
}
.top-nav li a:hover{
    color:#24B5C2;
    border-bottom:2px solid #69758a;
    transition:color 0.4s;
}
.top-nav a{
    text-decoration:none;
    color:#e5e5e5;
}
.handle{
    display:none;
}
#home{
    background-color:#E3E3E3;
    padding:30px 0 60px 0;
}
#home p{
    font-size:28px;
}
.home-content{
    padding:30px 10px;
    text-align:center;
    color:#263453;
    width:70%;
    margin:0 auto;
}
.home-soc{
    text-align:center;
    padding-top:35px;
}
.home-soc a{
    display:inline-block;
    height:70px;
    width:70px;
    border-radius:50%;
    background-color:#24B5C2;
    margin-left:15px;
    position:relative;
}
.home-soc a:hover{
    background-color:#53D6E3;
    transition:background-color 0.3s;
}
#home a i{
    font-size:45px;
    position:absolute;
    top:13px;
    left:15px;
    color:#263453;
}
#home h2{
    padding-bottom:15px;
}
.profile-content{
    padding:30px 0 50px 0;
    background-color:#263251;
    color:#e5e5e5;
}
.profile-content h2{
    text-align:center;
    padding-bottom:15px;
}
.profess p{
    font-size:18px;
    line-height: 1.8;
}
.skillset ul{
    list-style:none;
    padding:0;
}
.skillset li{
    height:50px;
    margin-top:20px;
    background-color:#24B5C2;
    border-radius:10px;
    box-shadow:7px 11px 12px -2px #09091D;
}
.skill-name{
    font-size:20px;
    padding:10px;
    border-radius:10px;
    width:100%;
    height:100%;
    display:inline-block;
    background-color:#396FCB;
    box-shadow:5px 0px 38px -4px #353535;
}
.skill-name:hover{
    background-color:#1349A5;
    transition:background-color 0.5s;
}
.skill-value{
    padding:10px 20px 10px 0;
    float:right;
    font-size:20px;
}
#html{
    width:70%;
}
#css{
    width:60%;
}
#js{
    width:30%;
}
#certific{
    padding:30px 0;
    background-image:url("../img/certific-bck1.jpg");
    background-attachment:fixed;
    color:#e5e5e5;
}
#certific ul{
    list-style:circle;
    padding-bottom:15px;
}
#certific li{
    margin-top:15px;
    font-size:21px;
}
#certific li:hover{
    color:#24B5C2;
    transition:0.3s;
}
#projects{
    padding:30px 0 50px 0;
    background-color:#24B5C2;
    text-align:center;
}
#projects h2{
    text-align:center;
    color:#263453;
    padding-bottom:30px;
}
#contact{
    padding:30px 0 50px 0;
    background-color:#E3E3E3;
}
#contact i{
    font-size:30px;
}
.cont-wrap{
    text-align:center;
    color:#263453;
    font-size:21px;
    padding-bottom:15px;
    width:60%;
    margin:0 auto;
}
input,
textarea,
button{
    width:100%;
    padding:15px 0 15px 30px;
    margin-top:30px;
    font-size:18px;
    background-color:#E3E3E3;
}
input,
textarea{
    border:2px dotted #24B5C2;
}
textarea{
    resize:none;
    height:200px;
}
button{
    border:3px solid #24B5C2;
    color:#24B5C2;
    padding:15px 0;
    text-align:center;
}
button:hover{
    background-color:#263251;
    transition:0.4s;
}
.form-aside h3{
    padding:15px 0;
    font-size:30px;
}
.form-aside p{
    font-size:21px;
}
.form-aside p:hover{
    font-size:24px;
    color:#24B5C2;
}
footer{
    padding:30px 0 0 0;
    background-color:#142241;
    text-align:center;
}
footer nav{
    padding:0 0 30px 0;
}
footer a{
    margin-left:15px;
    font-size:33px;
}
footer p{
    margin:0;
}
.copyright{
    color:#337AB7;
}
#totop{
    position:fixed;
    font-size:50px;
    bottom:20px;
    left:20px;
    display:none;
}
#totop i{
    cursor:pointer;
}
#totop i:hover{
    color:#4CDDDD;
}
.controller{
    font-size:40px;
    cursor:pointer;
    margin-top:10px;
    color:#263251;
}
.controller:hover{
    color:#E3E3E3;
}
.left{
    float:left;
}
.right{
    float:right;
}
.slider .item{
    display:none;
    opacity:0;
}
.slider .active{
    display:block;
    opacity:1;
}
.slider img{
    width:90%;
    border-radius:10px;
}
.clear{
    clear:both;
}
.slider-content{
    padding:20px;
    font-size:24px;
    color:#263251;
}
.slider-content a{
   color:#263251;
}
.slider-content h3{
    font-size:33px;
    font-weight:600;
}

