@media only screen and (max-width : 768px) {
    .top-nav li{
        width:100%;
        text-align:left;
        box-sizing: border-box;
    }
   .top-active{
        border:none;
    }
    .top-nav ul{
        height:0;
    }
    .show{
        height: 10em !important;
    }
    .handle{
        width:100%;
        text-align:left;
        display:block;
        box-sizing:border-box;
        color:#e5e5e5;
        font-size:35px;
        padding:0 10px 0 0;
    }
    .handle i{
        float:right;
        cursor:pointer;
    }
    .home-content{
        width:100%;
    }
}
@media only screen and (max-width : 480px) {
    #home p{
        font-size:21px;
    }
    #home h2{
        font-size:30px;
    }
    .home-soc a{
        margin-left:5px;
        width:50px;
        height:50px;
    }
    #home a i{
        font-size:30px;
        position:absolute;
        top:10px;
        left:12px;
    }
    .home-content{
        padding:10px;
    }
}